/* @import-normalize; */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Manrope:wght@400;500;700&display=swap');

body {
  background: #FDF7F2;
}

* {
  margin: 0;
  padding: 0;
}
